<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://github.com/joseevilasio/my-videos-lib/blob/main/assets/%20thumbnail.gif" alt="" /></p>
<h2 style="text-align: center;"><span style="color: #3a3a3a;">MyVideos - LIB</span></h2>
<h4 style="text-align: center;"><span style="color: #3a3a3a;">-- All in one place --</span></h4>
<p style="text-align: center;"><span style="color: #3a3a3a;">To consume the API you need to have a security token which is available in the admin.</span></p>
<p style="text-align: center;"><span style="color: #3a3a3a;">To access the admin you need to log in or register if you don't have an account.</span></p>
<p style="text-align: center;"><span style="color: #3a3a3a;"> <a class="bottom" href="{{url_for('admin.index')}}"> Admin </span></p>
<p style="text-align: center;"><span style="color: #3a3a3a;"> <a class="bottom" href="{{url_for('api.register')}}"> Sign up </span></p>
</body>
</html>
