<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://github.com/joseevilasio/my-videos-lib/blob/main/assets/%20thumbnail.gif" alt="" /></p>
<h2 style="text-align: center;"><span style="color: #34495e;">Token</span></h2>
<h4 style="text-align: center;">To consume the API, use the generated token:</h4>
<blockquote>
<p><code>{{ data}}</code></p>
</blockquote>
</body>
</html>
